name: mkdocs-build

on:
  push:
    branches:
    - main

jobs:
  build:
    name: build mkdocs
    runs-on: ubuntu-latest
    steps:
    - name: Checkout 
      uses: actions/checkout@v4

    - name: Build
      uses: Tiryoh/actions-mkdocs@v0
      with:
        # mkdocs_version: '1.6.1' # option
        requirements: 'requirements.txt' # option
        configfile: 'mkdocs.yml' # option

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './site'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
